/* Variables */
:root{
    --bg-color: #fff7f3;
    --start-btn: #7a25ca;
    --start-btn-hover: #9563ab;
    --view-scores-text: #7823c7;
    --quiz-options-color:#39145b;
    --quiz-options-hover: #2547b7;
    --quiz-options-text:#cecccc;
    --answer-status-text: #7b7676;
    --btn-txt-color: #e6e3e3;
    --btn-bg-color: #2b319c;
    --scores-list-bg:  #2b319c;
    --scores-list-txt: #e6e3e3;

    --section-title: 2.5em;
    --section-title-weight: bolder;
    --menu-items: 1.25em;
    --intro-text: 1.5em;
    --btn-size: 1.25em;
    --quiz-questions: 2em;
    --quiz-text: 1.25em;
    --results-text: 1.25em;
    --scores-text: 1.5em;

    --quiz-options-padding: 0.5em 6em 0.5em 0.3em;
    --btn-padding: 0.1em;
}

/* Remove browser defaults */
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--bg-color);
}

/* Center all sections horizontally. Flex-start is used to shat when some sections are displayed to none, the remaining ones
are at the top, near the menu section*/
main{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.menu-items{
    font-size: var(--menu-items);
    width: 100%;

    display: flex;
    justify-content: space-between;

    padding: 1em 1.25em;
    margin-bottom: 3em;
}

#view-scores{
    text-decoration: none;
    color: var(--view-scores-text);
}

/* Animation that displays when user tries to view the leaderboard */
#view-scores:hover{
    cursor: pointer;
    transform: scale(1.25);
    transition: 0.5s ease-in-out;
}

#intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.intro-title{
    font-size: var(--section-title);
    font-weight: var(--section-title-weight);
    text-align: center;
}

#intro-text{
    display: flex;
    justify-content: center;
}

#intro p{
    font-size: var(--intro-text);
    text-align: center;

    width: 50%;
    margin: 0.5em;
}

#start-button{
    display: block;
    font-size: var(--intro-text);

    color: var(--btn-txt-color);
    background-color: var(--start-btn);

    padding: 5px;
    margin: 0.5em;
}

#start-button:hover{
    background-color: var(--start-btn-hover);
    cursor: pointer;
}

.quiz-content{
    display: flex;
    flex-direction: column;

    width: 70%;
    margin: 1em auto;
}

#quiz-question{
    font-size: var(--quiz-questions);
    font-weight: bolder;

    margin-bottom: 0.5em;
}

/* Places the numbered index of the list items within the border box that is colored*/
#quiz-options{
    color: var(--quiz-options-text);
    list-style-position: inside;

    margin-bottom: 1em;
}

#quiz-options li{
    font-size: var(--quiz-text);
    background-color: var(--quiz-options-color);
    border-radius: 0.5em;

    word-wrap: break-word;
    padding: var(--quiz-options-padding);
    margin: 1em 0;
}

/* Animation when user hovers over a multiple choice option. This allows the user to better visualize which 
option they are selecting*/
#quiz-options li:hover{
    background-color: var(--quiz-options-hover);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

#answer-status{
    font-size: var(--quiz-text);
    color: var(--answer-status-text);
}

#quiz-results{
    font-size: var(--results-text);
    margin: 1em;
}

#result-title{
    display: inline-block;

    font-size: var(--section-title);
    font-weight: var(--section-title-weight);

    margin-bottom: 0.3em;
}

.result-message{
    margin-bottom: 0.5em;
}

#quiz-results form input{
    font-size: var(--results-text);
}

#results-submit{
    font-size: var(--btn-size);

    background-color: var(--btn-bg-color);
    color: var(--btn-txt-color);

    padding: var(--btn-padding);
}

#high-scores{
    width: 75%;
}

#leaderboard-title{
    font-size: var(--section-title);
    font-weight: var(--section-title-weight);
}

#scores-list{
    margin: 0.5em 0;
}

#scores-list li{
    font-size: var(--scores-text);

    background-color: var(--scores-list-bg);
    color: var(--scores-list-txt);
    list-style-position: inside;

    padding: 0.2em;
    margin-bottom: 0.5em;
    border-radius: 1em;
}

#high-scores button{
    font-size: var(--btn-size);

    background-color: var(--btn-bg-color);
    color: var(--btn-txt-color);

    padding: var(--btn-padding);
    margin: 1em 1em 0 0;
}

/* Animation that lets the user know which button they are hovering */
#high-scores button:hover{
    cursor: pointer;
}

/* Initially only displays intro section. Once the user starts the quiz, the other sections display attributes 
will be altered using javascript*/
#quiz,#quiz-results,#high-scores{
    display: none
}








